/*
Parallax backgrounds
*/
.parallax-bg{
    background-size: cover!important;
    background-repeat: no-repeat!important;
    background-attachment: fixed!important;
    background-position: 50% 50%!important;
    position: relative;
    &:before{
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.3);
    }
}
