        <div class="call-to-action">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-sm-12">
                        <h2 class="text-capitalize">A loving home for every child</h2>
                        <p class="margin-b-0">
                            <!-- Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatudolorem ipsum quia dolo -->
                        </p>
                    </div>
                    <div class="col-md-4 text-center col-sm-12">
                        <div class="space-20"></div>
                        <!-- <a href="/contact/new" class="btn btn-lg btn-white-bg">Want to Donate</a> -->
                        <%= link_to "Contact us to Donate", contactus_path, role:'button', class:'btn btn-lg btn-white-bg'%>
                    </div>
                </div>
            </div>
        </div>
        <!--end cta-->
        <div class="space-80"></div>
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2 text-center">
                    <div class="center-title">
                        <h3>Featured causes</h3>
                        <p class="lead">
                            <strong>Serenity kids are appealing to all of you out there who would love to stretch a hand and
                            help a child by contributing towards shelter, medical care, clothing, beddings, food and general welfare.</strong>                        </p>
                    </div>
                </div>
            </div><!--end center title-->
            <div class="row">
                <div class="causes-slider owl-arrows-slider">
                    <div class="item">
                        <div class="causes-box">
                            <div class="causes-thumb">
                                <span class="image-badge">98 Days left</span>
                                <img src="/images/featured2.jpg" alt="" class="img-responsive">
                            </div>
                            <div class="causes-desc">
                                <h4><a href="#">Serenity medical care</a></h4>
                                <div class="progress clearfix">
                                    <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%"></div>
                                </div>
                                <div class="row causes-amount">
                                    <div class="col-xs-6">
                                        <span>Raised</span>
                                        <h1>UGX 500,000</h1>
                                    </div>
                                    <div class="col-xs-6">
                                        <span>Goal</span>
                                        <h1>UGX 6,000,000</h1>
                                    </div>
                                </div>
                                <p>
                                    <strong>This helps with the children's existing medical obligations like immunisations and any medical emergencies</strong>
                                </p>
                                <!-- <a href="#" class="btn btn-theme-bg">Donate Now</a> -->
                                <%= link_to "Contact us to Donate", contactus_path, class:'btn btn-theme-bg'%>
                            </div>
                        </div><!--end causes box-->
                    </div><!--end causes item-->
                    <div class="item">
                        <div class="causes-box">
                            <div class="causes-thumb">
                                <span class="image-badge">90 Days left</span>
                                <img src="/images/featured5.jpg" alt="" class="img-responsive">
                            </div>
                            <div class="causes-desc">
                                <h4><a href="#">Serenity shelter</a></h4>
                                <div class="progress clearfix">
                                    <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%"></div>
                                </div>
                                <div class="row causes-amount">
                                    <div class="col-xs-6">
                                        <span>Raised</span>
                                        <h1>UGX 1,500,000</h1>
                                    </div>
                                    <div class="col-xs-6">
                                        <span>Goal</span>
                                        <h1>UGX 20,000,000</h1>
                                    </div>
                                </div>
                                <p>
                                    <strong>We are already have plans for expanding our accomodation so that our kids can sleep
                                    comfortably and your contribution would be highly appreciated.</strong>
                                </p>
                                <!-- <a href="#" class="btn btn-theme-bg">Donate Now</a> -->
                                  <%= link_to "Contact us to Donate", contactus_path, class:'btn btn-theme-bg'%>
                            </div>
                        </div><!--end causes box-->
                    </div><!--end causes item-->

                    <div class="item">
                        <div class="causes-box">
                            <div class="causes-thumb">
                                <span class="image-badge">160 Days left</span>
                                <img src="/images/featured4.jpg" alt="" class="img-responsive">
                            </div>
                            <div class="causes-desc">
                                <h4><a href="#">Serenity food and general welfare.</a></h4>
                                <div class="progress clearfix">
                                    <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%"></div>
                                </div>
                                <div class="row causes-amount">
                                    <div class="col-xs-6">
                                        <span>Raised</span>
                                        <h1>UGX 700,000</h1>
                                    </div>
                                    <div class="col-xs-6">
                                        <span>Goal</span>
                                        <h1>UGX 4,000,000</h1>
                                    </div>
                                </div>
                                <p>
                                    <strong>As the number of children also the cost feeding them and generally taking care of them on a daily basis increases
                                    your help would be highly appreciated</strong>
                                </p>
                                <%= link_to "Contact us to Donate", contactus_path, class:'btn btn-theme-bg'%>
                            </div>
                        </div><!--end causes box-->
                    </div><!--end causes item-->

                </div><!--end causes slider-->
            </div>
        </div>
        <div class="space-50"></div>

        <div class="counter">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-3 margin-b-30 text-center">
                        <i class="flaticon-cash-box"></i>
                        <h1 class="text-white counter-digit">451458</h1>
                        <span>Donate</span>
                    </div>
                    <div class="col-sm-6 col-md-3 margin-b-30 text-center">
                        <i class="flaticon-happy-kids"></i>
                        <h1 class="text-white counter-digit">5425</h1>
                        <span>Volunteers</span>
                    </div>
                    <div class="col-sm-6 col-md-3 margin-b-30 text-center">
                        <i class="flaticon-school"></i>
                        <h1 class="text-white counter-digit">2541</h1>
                        <span>Projects</span>
                    </div>
                    <div class="col-sm-6 col-md-3 margin-b-30 text-center">
                        <i class="flaticon-gift"></i>
                        <h1 class="text-white counter-digit">8475</h1>
                        <span>Gifts</span>
                    </div>
                </div>
            </div>
        </div><!--end counters-->

        <div class="stories">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2 text-center">
                        <div class="center-title">
                            <h3>Successful stories</h3>
                            <p class="lead">
                                <strong>We have scored some great achievements at serenity kids and below are some of the success stories among others.
                                We hope to continue touching the lives of the young ones we take care of.</strong>
                            </p>
                        </div>
                    </div>
                </div><!--end center title-->
                <div class="row">
                    <div class="col-sm-4 margin-b-30">
                        <div class="story-box">
                            <p class="story-text">
                                <strong>" I was greatly impressed by the work that serenity kids is doing to give the kids a better life and future.
                                  They handle their work with the utmost professionalism and their love for the kids is unrivaled. Keep up the good work "</strong>
                            </p>
                            <div class="story-info">
                                <img src="/images/team-1.jpg" alt="" class="img-responsive img-circle" width="50">
                                <span>Nikita Miller - <em>Assan inc.</em></span>
                            </div>
                        </div>
                    </div><!--end col-->
                    <div class="col-sm-4 margin-b-30">
                        <div class="story-box">
                            <p class="story-text">
                              " I was greatly impressed by the work that serenity kids is doing to give the kids a better life and future.
                                They handle their work with the utmost professionalism  and their love for the kids is unrivaled. Keep up the good work ".
                            </p>
                            <div class="story-info">
                                <img src="/images/team-2.jpg" alt="" class="img-responsive img-circle" width="50">
                                <span>Dwayne Smith - <em>Assan inc.</em></span>
                            </div>
                        </div>
                    </div><!--end col-->
                    <div class="col-sm-4 margin-b-30">
                        <div class="story-box">
                            <p class="story-text">
                              <strong>" I was greatly impressed by the work that serenity kids is doing to give the kids a better life and future.
                                They handle their work with the utmost professionalism and their love for the kids is unrivaled. Keep up the good work "</strong>
                            </p>
                            <div class="story-info">
                                <img src="/images/team-3.jpg" alt="" class="img-responsive img-circle" width="50">
                                <span>John Doe - <em>Assan inc.</em></span>
                            </div>
                        </div>
                    </div><!--end col-->
                </div>
            </div>
        </div><!--end stories-->

        <div class="parallax-bg pd-t-80 pd-b-50" style="background: url('/images/bgpic1.jpg');">
            <div class='container'>
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2 text-center">
                        <div class="center-title">
                            <h3 class="text-white">How you could help</h3>
                            <p class="text-white">
                                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatudolorem ipsum quia dolo  voluptate velit esse cillum dolore eu fugiat
                            </p>
                        </div>
                    </div>
                </div><!--end center title-->
                <div class="row">
                    <div class="col-sm-4 margin-b-30">
                        <div class="icon-box">
                            <i class="flaticon-money"></i>
                            <h3 class="text-capitalize"> Send Donation</h3>
                            <p>
                                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatudolorem ipsum quia dolo  voluptate velit esse cillum dolore eu fugiat
                            </p>
                            <br>
                            <a href="#" class="btn btn-theme-bg">Donate Now</a>
                        </div><!--end icon box-->
                    </div>
                    <div class="col-sm-4 margin-b-30">
                        <div class="icon-box">
                            <i class="flaticon-happy-kids"></i>
                            <h3 class="text-capitalize"> Become volunteer</h3>
                            <p>
                                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatudolorem ipsum quia dolo  voluptate velit esse cillum dolore eu fugiat
                            </p>
                            <br>
                            <a href="#" class="btn btn-theme-bg">Donate Now</a>
                        </div><!--end icon box-->
                    </div>
                    <div class="col-sm-4 margin-b-30">
                        <div class="icon-box">
                            <i class="flaticon-gift"></i>
                            <h3 class="text-capitalize">Give scholarship</h3>
                            <p>
                                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatudolorem ipsum quia dolo  voluptate velit esse cillum dolore eu fugiat
                            </p>
                            <br>
                            <a href="#" class="btn btn-theme-bg">Donate Now</a>
                        </div><!--end icon box-->
                    </div>
                </div>
            </div>
        </div><!--help type section end-->
        <div class="white-bg pd-t-80 pd-b-30">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2 text-center">
                        <div class="center-title">
                            <h3>become a volunteer</h3>
                            <p>
                                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatudolorem ipsum quia dolo  voluptate velit esse cillum dolore eu fugiat
                            </p>
                            <br>
                            <a href="#" class="btn btn-theme-bg btn-lg">Join us now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
