<!--
<div class="page-title">
  <div class="container">
    <h1>Contact us</h1>
  </div>
</div>end page title
-->
<div class="space-80"></div>
<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <h3 class="text-capitalize">Leave a message</h3>
      <hr>
      <%= render 'layouts/form'%>
    </div>
    <div class="col-sm-6">
      <h3 class="text-capitalize">Contact Info</h3>
      <hr>
      <div class="contact-info margin-b-30">
        <p><i class="fa fa-home"></i> 124, Lorem Street, USA</p>
        <p><i class="fa fa-phone-square"></i> +01 (1800) - 0320-433-3403</p>
        <p><i class="fa fa-envelope-square"></i> support@charity.com</p>
      </div>
      <div id="google-map" style="width: 100%; height:300px;"></div>
    </div>
  </div>
</div>
<div class="space-80"></div>
<div class="white-bg pd-t-80 pd-b-30">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 text-center">
        <div class="center-title">
          <h3>become a volunteer</h3>
          <p>
            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatudolorem ipsum quia dolo  voluptate velit esse cillum dolore eu fugiat
          </p>
          <br>
          <a href="#" class="btn btn-theme-bg btn-lg">Join us now</a>
        </div>
      </div>
    </div>
  </div>
</div>
