
<!--
<div class="page-title">
  <div class="container">
    <h1>Gallery Full width</h1>
  </div>
</div>end page title
-->
<div class="container-fluid no-padding full-width">
  <div class="row no-margin">
    <div class="col-sm-6 col-md-3 no-padding">
      <a href="/images/img1.jpg" class="overlay-box" data-lightbox="gallery">
        <img src="/images/img1.jpg" alt="" class="img-responsive">
        <div class="overlay">
          <div class="overlay-content">
            <h4>Project Title</h4>
            <span>Nice Subtitle</span>
          </div>
        </div>
      </a>
    </div><!--end col-->
    <div class="col-sm-6 col-md-3 no-padding">
      <a href="/images/img2.jpg" class="overlay-box" data-lightbox="gallery">
        <img src="/images/img1.jpg" alt="" class="img-responsive">
        <div class="overlay">
          <div class="overlay-content">
            <h4>Project Title</h4>
            <span>Nice Subtitle</span>
          </div>
        </div>
      </a>
    </div><!--end col-->
    <div class="col-sm-6 col-md-3 no-padding">
      <a href="/images/img3.jpg" class="overlay-box" data-lightbox="gallery">
        <img src="/images/img1.jpg" alt="" class="img-responsive">
        <div class="overlay">
          <div class="overlay-content">
            <h4>Project Title</h4>
            <span>Nice Subtitle</span>
          </div>
        </div>
      </a>
    </div><!--end col-->
    <div class="col-sm-6 col-md-3 no-padding">
      <a href="/images/img4.jpg" class="overlay-box" data-lightbox="gallery">
        <img src="/images/img1.jpg" alt="" class="img-responsive">
        <div class="overlay">
          <div class="overlay-content">
            <h4>Project Title</h4>
            <span>Nice Subtitle</span>
          </div>
        </div>
      </a>
    </div><!--end col-->
  </div><!--end row-->
  <div class="row no-margin">
    <div class="col-sm-6 col-md-3 no-padding">
      <a href="/images/img.jpg" class="overlay-box" data-lightbox="gallery">
        <img src="/images/img1.jpg" alt="" class="img-responsive">
        <div class="overlay">
          <div class="overlay-content">
            <h4>Project Title</h4>
            <span>Nice Subtitle</span>
          </div>
        </div>
      </a>
    </div><!--end col-->
    <div class="col-sm-6 col-md-3 no-padding">
      <a href="/images/img3.jpg" class="overlay-box" data-lightbox="gallery">
        <img src="/images/img1.jpg" alt="" class="img-responsive">
        <div class="overlay">
          <div class="overlay-content">
            <h4>Project Title</h4>
            <span>Nice Subtitle</span>
          </div>
        </div>
      </a>
    </div><!--end col-->
    <div class="col-sm-6 col-md-3 no-padding">
      <a href="/images/img2.jpg" class="overlay-box" data-lightbox="gallery">
        <img src="/images/img1.jpg" alt="" class="img-responsive">
        <div class="overlay">
          <div class="overlay-content">
            <h4>Project Title</h4>
            <span>Nice Subtitle</span>
          </div>
        </div>
      </a>
    </div><!--end col-->
    <div class="col-sm-6 col-md-3 no-padding">
      <a href="/images/img4.jpg" class="overlay-box" data-lightbox="gallery">
        <img src="/images/img1.jpg" alt="" class="img-responsive">
        <div class="overlay">
          <div class="overlay-content">
            <h4>Project Title</h4>
            <span>Nice Subtitle</span>
          </div>
        </div>
      </a>
    </div><!--end col-->
  </div><!--end row-->
  <div class="row no-margin">
    <div class="col-sm-6 col-md-3 no-padding">
      <a href="/images/img2.jpg" class="overlay-box" data-lightbox="gallery">
        <img src="/images/img1.jpg" alt="" class="img-responsive">
        <div class="overlay">
          <div class="overlay-content">
            <h4>Project Title</h4>
            <span>Nice Subtitle</span>
          </div>
        </div>
      </a>
    </div><!--end col-->
    <div class="col-sm-6 col-md-3 no-padding">
      <a href="/images/img1.jpg" class="overlay-box" data-lightbox="gallery">
        <img src="/images/img1.jpg" alt="" class="img-responsive">
        <div class="overlay">
          <div class="overlay-content">
            <h4>Project Title</h4>
            <span>Nice Subtitle</span>
          </div>
        </div>
      </a>
    </div><!--end col-->
    <div class="col-sm-6 col-md-3 no-padding">
      <a href="/images/img4.jpg" class="overlay-box" data-lightbox="gallery">
        <img src="/images/img1.jpg" alt="" class="img-responsive">
        <div class="overlay">
          <div class="overlay-content">
            <h4>Project Title</h4>
            <span>Nice Subtitle</span>
          </div>
        </div>
      </a>
    </div><!--end col-->
    <div class="col-sm-6 col-md-3 no-padding">
      <a href="/images/img1.jpg" class="overlay-box" data-lightbox="gallery">
        <img src="/images/img1.jpg" alt="" class="img-responsive">
        <div class="overlay">
          <div class="overlay-content">
            <h4>Project Title</h4>
            <span>Nice Subtitle</span>
          </div>
        </div>
      </a>
    </div><!--end col-->
  </div><!--end row-->
</div>
