<!--
<div class="page-title">
  <div class="container">
    <h1>About us</h1>
  </div>
</div>end page title
-->
<div class="space-80"></div>
<div class="container">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2 text-center">
      <div class="center-title">
        <h3>Who we are?</h3>
        <p>
          Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatudolorem ipsum quia dolo  voluptate velit esse cillum dolore eu fugiat
        </p>

      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="icon-box2 clearfix">
        <i class="flaticon-dog-pawprint"></i>
        <div class="content">
          <h4 class="text-uppercase">Charity organigation</h4>
          <p>
            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore.
          </p>
        </div>
      </div><!--end icon-box-->
      <div class="icon-box2 clearfix">
        <i class="flaticon-gift"></i>
        <div class="content">
          <h4 class="text-uppercase">Give scholarship</h4>
          <p>
            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore.
          </p>
        </div>
      </div><!--end icon-box-->
      <div class="icon-box2 clearfix">
        <i class="flaticon-people"></i>
        <div class="content">
          <h4 class="text-uppercase">Charity events</h4>
          <p>
            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore.
          </p>
        </div>
      </div><!--end icon-box-->
    </div>
    <div class="col-sm-6">
      <!-- 16:9 aspect ratio -->
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="/images/iframepic.jpg"></iframe>
      </div>
    </div>
  </div>
  <div class="space-50"></div>
  <div class="row">
    <div class="col-sm-4 margin-b-30">
      <h4 class="text-uppercase">Our Mission</h4>
      <p>
        Save the life is Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
      </p>
    </div>
    <div class="col-sm-4 margin-b-30">
      <h4 class="text-uppercase">Who we are?</h4>
      <p>
        Save the life is Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
      </p>
    </div>
    <div class="col-sm-4 margin-b-30">
      <h4 class="text-uppercase">Why choose us?</h4>
      <p>
        Save the life is Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
      </p>
    </div>
  </div>
</div>
<div class="space-50"></div>
<div class="counter">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-md-3 margin-b-30 text-center">
        <i class="flaticon-cash-box"></i>
        <h1 class="text-white counter-digit">451458</h1>
        <span>Donate</span>
      </div>
      <div class="col-sm-6 col-md-3 margin-b-30 text-center">
        <i class="flaticon-happy-kids"></i>
        <h1 class="text-white counter-digit">5425</h1>
        <span>Volunteers</span>
      </div>
      <div class="col-sm-6 col-md-3 margin-b-30 text-center">
        <i class="flaticon-school"></i>
        <h1 class="text-white counter-digit">2541</h1>
        <span>Projects</span>
      </div>
      <div class="col-sm-6 col-md-3 margin-b-30 text-center">
        <i class="flaticon-gift"></i>
        <h1 class="text-white counter-digit">8475</h1>
        <span>Gifts</span>
      </div>
    </div>
  </div>
</div><!--end counters-->

<div class="space-80"></div>
<div class="container">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2 text-center">
      <div class="center-title">
        <h3>Volunteers</h3>
        <p>
          Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatudolorem ipsum quia dolo  voluptate velit esse cillum dolore eu fugiat
        </p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 col-md-3 margin-b-30">
      <div class="volunteer-box">
        <img src="/images/team-1.jpg" alt="" class="img-responsive">
        <div class="volunteer-desc">
          <h4 class="text-uppercase">John Doe</h4>
          <span>Volunteer</span>
          <p>
            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatudolorem ipsum quia dolo voluptate velit esse cillum dolore eu fugiat
          </p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-3 margin-b-30">
      <div class="volunteer-box">
        <img src="/images/team-2.jpg" alt="" class="img-responsive">
        <div class="volunteer-desc">
          <h4 class="text-uppercase">John Doe</h4>
          <span>Volunteer</span>
          <p>
            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatudolorem ipsum quia dolo voluptate velit esse cillum dolore eu fugiat
          </p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-3 margin-b-30">
      <div class="volunteer-box">
        <img src="/images/team-3.jpg" alt="" class="img-responsive">
        <div class="volunteer-desc">
          <h4 class="text-uppercase">John Doe</h4>
          <span>Volunteer</span>
          <p>
            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatudolorem ipsum quia dolo voluptate velit esse cillum dolore eu fugiat
          </p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-3 margin-b-30">
      <div class="volunteer-box">
        <img src="/images/team-1.jpg" alt="" class="img-responsive">
        <div class="volunteer-desc">
          <h4 class="text-uppercase">John Doe</h4>
          <span>Volunteer</span>
          <p>
            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatudolorem ipsum quia dolo voluptate velit esse cillum dolore eu fugiat
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="space-50"></div>

<div class="white-bg pd-t-80 pd-b-30">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 text-center">
        <div class="center-title">
          <h3>become a volunteer</h3>
          <p>
            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatudolorem ipsum quia dolo  voluptate velit esse cillum dolore eu fugiat
          </p>
          <br>
          <a href="#" class="btn btn-theme-bg btn-lg">Join us now</a>
        </div>
      </div>
    </div>
  </div>
</div>
