<!--
<div class="page-title">
  <div class="container">
    <h1>About us</h1>
  </div>
</div>end page title
-->
<div class="space-80"></div>
<div class="container">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2 text-center">
      <div class="center-title">
        <h3>Who we are?</h3>
        <p>
          <strong>Serenity Kids Foundation is an organization built upon strong Christian values. Motivated and graced to cater for abandoned children, neglected children and orphans.
          Furthermore provide rehabilitation facilities for teenagers not above 18 years of age.</strong>
        </p>

      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="icon-box2 clearfix">
        <i class="flaticon-dog-pawprint"></i>
        <div class="content">
          <h4 class="text-uppercase">Charity foundation</h4>
          <p>
             <strong>This foundation takes full responsibility of these children by providing medical care, food, clothing and beddings and shelter.
             In addition, we offer full psychosocial support to reduce stigma associated with these children through our Rehabilitation Centre by having private counseling sessions, yoga classes, Bible Study to mention but a few.
             Serenity kids are appealing to all of you out there who would love to stretch a hand and help a child by contributing towards shelter, medical care, clothing, beddings, food and general welfare.</strong>

          </p>
        </div>
      </div><!--end icon-box-->

    </div>
    <div class="col-sm-6">
      <!-- 16:9 aspect ratio -->
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="/images/img1.jpg"></iframe>
      </div>
    </div>
  </div>
  <div class="space-50"></div>
  <div class="row">
    <div class="col-sm-12 margin-b-30">
      <h4 class="text-uppercase" style="text-align: center;">Our Mission</h4>
      <p class="lead" style="text-align: center">
        <strong>To protect and care for our nation’s children with love and hope for a better future.</strong>
      </p>
    </div>
  </div>
</div>
<div class="space-50"></div>
<div class="counter">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-md-3 margin-b-30 text-center">
        <i class="flaticon-cash-box"></i>
        <h1 class="text-white counter-digit">451458</h1>
        <span>Donate</span>
      </div>
      <div class="col-sm-6 col-md-3 margin-b-30 text-center">
        <i class="flaticon-happy-kids"></i>
        <h1 class="text-white counter-digit">5425</h1>
        <span>Volunteers</span>
      </div>
      <div class="col-sm-6 col-md-3 margin-b-30 text-center">
        <i class="flaticon-school"></i>
        <h1 class="text-white counter-digit">2541</h1>
        <span>Projects</span>
      </div>
      <div class="col-sm-6 col-md-3 margin-b-30 text-center">
        <i class="flaticon-gift"></i>
        <h1 class="text-white counter-digit">8475</h1>
        <span>Gifts</span>
      </div>
    </div>
  </div>
</div><!--end counters-->

<div class="space-80"></div>
<div class="container">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2 text-center">
      <div class="center-title">
        <h3>Our Team</h3>
        <p class="lead">
          <strong>Our serenity kids foundation team that makes it happen day in day out making a difference in the lives of
            the young ones in the community.</strong>
        </p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 col-md-6 margin-b-30">
      <div class="volunteer-box">
        <img src="/images/serena.jpg" alt="" class="img-responsive">
        <div class="volunteer-desc">
          <h4 class="text-uppercase">SERENA KYOKUNZIRE</h4>
          <span>Founder</span>
          <p>
            <strong>Being a Christian mother, she has found joy in raising children with Christian values and morals. She strongly believes every child deserves love and care. Being the founder of this organization grants her the opportunity to contribute towards the well-being of innocent BUT abandoned neglected and orphaned
            children by encouraging more people to appreciate the joy of giving back to GOD [Matthew 25: 37-40]</strong>
          </p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-6 margin-b-30">
      <div class="volunteer-box">
        <img src="/images/jerome.jpg" alt="" class="img-responsive">
        <div class="volunteer-desc">
          <h4 class="text-uppercase">JEROME MWEBESA</h4>
          <span>Founder</span>
          <p>
            <strong>Born an orphan, he was raised and brought up by several people who had the will and attribute to give him a better future.
            It is from this background that he founded this organization to give back to society by preserving the next generation.</strong>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="space-50"></div>

<div class="white-bg pd-t-80 pd-b-30">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 text-center">
        <div class="center-title">
          <h3>become a volunteer</h3>
          <p class="lead">
              <strong>Becoming a volunteer at serenity kids is very easy. All you need to do is drop us a line <a href="/contacts/new">here</a> and one of our dedicated staff will get back to you
              with details of how to get started.</strong>
          </p>
          <br>
          <!-- <a href="#" class="btn btn-theme-bg btn-lg">Join us now</a> -->
            <%= link_to "Contact us to volunteer", contactus_path, class:'btn btn-theme-bg btn-lg'%>
        </div>
      </div>
    </div>
  </div>
</div>
