        <footer id="footer" class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 margin-b-30">
                        <h4>About Charity</h4>
                        <p>
                            <strong>Serenity Kids Foundation is an organization built upon strong Christian values. Motivated and graced to cater for abandoned children, neglected children and orphans.
                            Furthermore provide rehabilitation facilities for teenagers not above 18 years of age.</strong>
                        </p>
                        <div class="f-contact">
                            <p><i class="fa fa-home"></i> Plot 9, Victoria road Jinja, Uganda East Africa.</p>
                            <p><i class="fa fa-phone-square"></i> +256-772-748-741/+256-782-473-940</p>
                            <p><i class="fa fa-envelope-square"></i> info@serenitykids.net</p>
                        </div>
                    </div><!--end col-->
                    <div class="col-sm-6 margin-b-30">
                        <h4>newsletter</h4>
                        <p>
                            <strong>Enter your email address and we shall get in touch with the latest information about serenity kids activities in the community
                            and how you can be apart of them</strong>
                        </p>
                        <form class="subscribe-form margin-b-30">
                            <div class="form-group">
                                <input type="email" class="form-control" placeholder="Enter your email">
                            </div>
                            <input class="btn btn-white-bg" type="submit" value="Subscribe">
                        </form>
                        <ul class="list-inline f-socials">
                            <li><a href="#"><i class="fa fa-facebook-official"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <!-- <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#"><i class="fa fa-instagram"></i></a></li> -->
                        </ul>
                    </div><!--end col-->
                </div>
            </div>
            <div class="container text-center text-copyright">
                <span>&copy; 2016. Serenity kids foundation. This website is powered by <a href="www.therailsshop.club" target="_blank"> Therailsshop</a> web studio.</span>
            </div>
        </footer>
