        <footer id="footer" class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4 margin-b-30">
                        <h4>About Charity</h4>
                        <p>
                            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                        </p>
                        <div class="f-contact">
                            <p><i class="fa fa-home"></i> 124, lorem street, USA</p>
                            <p><i class="fa fa-phone-square"></i> +01 (1800) - 0320-433-3403</p>
                            <p><i class="fa fa-envelope-square"></i> support@charity.com</p>                           
                        </div>
                    </div><!--end col-->
                    <div class="col-sm-4 margin-b-30">
                        <h4>Latest News</h4>
                        <ul class="list-unstyled latest-news">
                            <li class="clearfix">
                                <div class="pull-left post-thumb">
                                    <a href="#">
                                        <img src="/images/img1.jpg" alt="" class="img-responsive" width="90">
                                    </a>
                                </div><!--thumb-->
                                <div class="content">
                                    <a href="#">
                                        <h5>African Child education</h5>                          
                                    </a>
                                    <div>
                                        <span><i class="fa fa-comments"></i> 23</span>
                                        <span><i class="fa fa-thumbs-up"></i> 238</span>
                                    </div>
                                    <p>
                                        Sed ut perspiciatis unde omnis iste natus error sit voluptatem.
                                    </p>
                                </div>
                            </li><!--news li end-->
                            <li class="clearfix">
                                <div class="pull-left post-thumb">
                                    <a href="#">
                                        <img src="/images/img2.jpg" alt="" class="img-responsive" width="90">
                                    </a>
                                </div><!--thumb-->
                                <div class="content">
                                    <a href="#">
                                        <h5>Save the poor life.</h5>                          
                                    </a>
                                    <div>
                                        <span><i class="fa fa-comments"></i> 23</span>
                                        <span><i class="fa fa-thumbs-up"></i> 238</span>
                                    </div>
                                    <p>
                                        Sed ut perspiciatis unde omnis iste natus error sit voluptatem.
                                    </p>
                                </div>
                            </li><!--news li end-->
                        </ul>
                    </div><!--end col-->
                    <div class="col-sm-4 margin-b-30">
                        <h4>newsletter</h4>
                        <p>
                            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                        </p>
                        <form class="subscribe-form margin-b-30">
                            <div class="form-group">
                                <input type="email" class="form-control" placeholder="Enter your email">
                            </div>
                            <input class="btn btn-white-bg" type="submit" value="Subscribe">
                        </form>
                        <ul class="list-inline f-socials">
                            <li><a href="#"><i class="fa fa-facebook-official"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                        </ul>
                    </div><!--end col-->
                </div>
            </div>
            <div class="container text-center text-copyright">
                <span>&copy; 2016. Assan Charity Fund.</span>
            </div>
        </footer>